.visually-hidden() {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.ul-reseter() {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link-reseter() {
  color: #000000;
  text-decoration: none;
}

.mobile-container() {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.h2-header() {
  margin: 0;

  font-size: 25px;
  line-height: 30px;
  color: #000000;
  letter-spacing: 0.1px;
}

.typical-button() {
  padding: 83px;
  padding-top: 13px;
  padding-bottom: 14px;

  font-size: 17px;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 2px solid #444444;
}

.inner-page-header() {
  width: 320px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 76px;
  box-sizing: border-box;

  font-size: 27px;
  line-height: 30px;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.1px;

  background-color: #f1f1f1;
}

.order-form-radio-checkbox-names() {
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  font-weight: 700;
}
