@asphalt: #444444;
@black: #000000;
@dark-teal: #56c3b2;
@gray: #ececec;
@light-gray: #f1f1f1;
@lighter-gray: #f9f9f9;
@light-teal: #63d1bb;
@white: #ffffff;
@tablet-width: 768px;
@desctop-width: 1250px;
