@asphalt: #444444;
@black: #000000;
@black-opa: rgba(0, 0, 0, 0.1);
@black-opa-onethird: rgba(0, 0, 0, 0.35);
@gray: #ececec;
@gray-dark: #e5e5e5;
@gray-light: #f1f1f1;
@gray-lighter: #f9f9f9;
@teal: #46c1ae;
@teal-dark: #56c3b2;
@teal-light: #63d1bb;
@teal-lighter: #62d1ba;
@white: #ffffff;
@white-opa: rgba(255, 255, 255, 0.9);
@tablet-width: 768px;
@desktop-width: 1250px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
