.about-us__wrapper {
  .mobile-container();

  padding-top: 39px;
  padding-left: 28px;

  @media (min-width: @tablet-width) {
    width: @tablet-width;

    padding-top: 80px;
    padding-left: 46px;
    padding-right: 50px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding-left: 48px;
  }
}

.about-us__header {
  .lesser-header();

  @media (min-width: @tablet-width) {
    .tablet-header();

    margin-top: 39px;
  }

  @media (min-width: @desktop-width) {
    .desktop-header();

    margin-top: 75px;
    margin-left: 224px;
  }
}

.about-us__list {
  .basic-list-reseter();

  @media (min-width: @tablet-width) {
    margin-left: 4px;
    height: 470px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  @media (min-width: @desktop-width) {
    margin-top: 1px;
    margin-left: 228px;
    width: 700px;
  }
}

.about-us__item {
  position: relative;

  padding-right: 50px;

  letter-spacing: 0.2px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    width: 50%;
  }
}

.about-us__item:nth-of-type(1) {
  padding-right: 100px;

  @media (min-width: @tablet-width) {
    padding-right: 0;
  }
}

.about-us__item:nth-of-type(3) {
  padding-right: 100px;

  @media (min-width: @tablet-width) {
    padding-right: 0;
  }
}

.about-us__item:nth-of-type(2) {
  padding-right: 85px;

  @media (min-width: @tablet-width) {
    padding-right: 0;
  }
}

.about-us__item:nth-of-type(5) {
  padding-right: 30px;

  @media (min-width: @tablet-width) {
    padding-right: 0;
  }
}

.about-us__heading {
  margin: 0;
  padding-top: 83px;

  font-size: 17px;
  color: @black;
  line-height: 20px;

  &--flower {
    padding-top: 86px;
  }

  &--roll {
    margin-left: 1px;
  }

  &--rocket,
  &--present {
    margin-left: 2px;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    padding-top: 111px;

    font-size: 20px;
    line-height: 22px;

    &--flower,
    &--roll {
      padding-top: 102px;
      padding-right: 100px;
    }

    &--roll,
    &--money {
      padding-right: 80px;
    }

    &--heart {
      padding-right: 90px;
    }

    &--present {
      padding-right: 40px;
    }
  }

  @media (min-width: @desktop-width) {
    &--flower,
    &--heart {
      padding-right: 120px;
    }

    &--money {
      padding-right: 90px;
    }

    &--present {
      padding-right: 50px;
    }
  }
}

.about-us__flower {
  position: absolute;
  top: 32px;
  left: 10px;

  @media (min-width: @tablet-width) {
    top: 48px;
    left: 9px;
  }

  @media (min-width: @desktop-width) {
    left: 8px;
  }
}

.about-us__money {
  position: absolute;
  top: 30px;
  left: 2px;

  @media (min-width: @tablet-width) {
    top: 58px;
    left: 1px;
  }

  @media (min-width: @desktop-width) {
    left: 0;
  }
}

.about-us__heart {
  position: absolute;
  top: 35px;
  left: 9px;

  @media (min-width: @tablet-width) {
    top: 63px;
    left: 8px;
  }

  @media (min-width: @desktop-width) {
    left: 7px;
  }
}

.about-us__roll {
  position: absolute;
  top: 32px;
  left: 5px;

  @media (min-width: @tablet-width) {
    top: 51px;
    left: 3px;
  }

  @media (min-width: @desktop-width) {
    left: 2px;
  }
}

.about-us__rocket {
  position: absolute;
  top: 33px;
  left: -4px;

  @media (min-width: @tablet-width) {
    top: 61px;
    left: -6px;
  }

  @media (min-width: @desktop-width) {
    left: -7px;
  }
}

.about-us__present {
  position: absolute;
  top: 31px;
  left: 5px;

  @media (min-width: @tablet-width) {
    top: 59px;
    left: 3px;
  }

  @media (min-width: @desktop-width) {
    left: 2px;
  }
}
