.additional-field {
  margin-top: 32px;
  margin-left: -3px;
  padding: 0;

  border: none;
}

.additional-field__heading {
  font-size: 17px;
  line-height: 16px;
  color: @light-teal;
  text-transform: uppercase;
  font-weight: 700;
}

.additional-field__textarea {
  .order-form-radio-checkbox-names();

  margin-top: 25px;
  margin-left: 3px;
  padding-top: 12px;
  padding-bottom: 0;
  padding-left: 14px;
  padding-right: 1px;

  font-weight: 100;

  border: 2px solid @black;
}

.additional-field__note-info {
  margin: 0;
  margin-top: 6px;
  margin-left: 3px;

  font-size: 14px;
  line-height: 16px;
}
