.additional-field {
  margin-top: 32px;
  margin-left: -3px;
  padding: 0;

  border: none;

  @media (min-width: @tablet-width) {
    position: relative;

    margin: 0;
  }
}

.additional-field__heading {
  position: relative;

  font-size: 17px;
  line-height: 16px;
  color: @light-teal;
  text-transform: uppercase;
  font-weight: 700;

  &::after {
    position: absolute;
    top: 8px;
    left: 64px;

    content: "";
    width: 200px;
    height: 1px;

    background-color: @light-teal;
  }

  @media (min-width: @tablet-width) {
    position: relative;
    top: 53px;
    left: -1px;

    &::after {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    top: 52px;
    left: 61px;
  }
}

.additional-field__textarea {
  .order-form-radio-checkbox-names();

  margin-top: 25px;
  margin-left: 3px;
  padding-top: 12px;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 1px;

  font-weight: 100;

  border: 2px solid @black;

  outline: none;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    padding-top: 13px;
    padding-left: 15px;
    margin-top: 19px;
    margin-left: 167px;
    width: 482px;
    height: 125px;

    font-size: 19px;
    line-height: 18px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 175px;
    width: 681px;
  }
}

.additional-field__textarea:hover {
  border-color: @lighter-teal;
}

.additional-field__textarea:active {
  border-color: @lighter-teal;
}

.additional-field__textarea:focus {
  border-color: @lighter-teal;
}

.additional-field__textarea::placeholder {
  opacity: 0.3;
}

.additional-field__textarea:hover::placeholder {
  opacity: 0.3;
}

.additional-field__textarea:active::placeholder {
  opacity: 1;
}

.additional-field__textarea:focus::placeholder {
  opacity: 1;
}


.additional-field__note-info {
  margin: 0;
  margin-top: 6px;
  margin-left: 3px;

  font-size: 14px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    margin-top: 52px;
    margin-left: 369px;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 49px;
    margin-left: 577px;
  }
}
