.contacts {
  margin-bottom: 39px;

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    width: 1050px;
    display: flex;
  }
}

.contacts__wrapper {
  .mobile-container();

  position: relative;

  padding: 28px;
  padding-top: 8px;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    width: 50%;
    padding-top: 8px;
    padding-bottom: 179px;
    display: flex;
    flex-direction: column;
  }
}

.contacts__header {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 30px;
  color: @black;

  @media (min-width: @tablet-width) {
    .tablet-header();

    margin-top: 47px;
    margin-left: 18px;
  }

  @media (min-width: @desktop-width) {
    .desktop-header();

    margin-top: 118px;
    margin-left: 143px;
  }
}

.contacts__flag {
  display: none;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 40px;
    right: 53px;

    display: block;
  }

  @media (min-width: @desktop-width) {
    top: 118px;
    left: 63px;
    right: auto;
  }
}

.contacts__table {
  margin-top: 24px;
  margin-bottom: 8px;

  border-collapse: collapse;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-top: 49px;
    margin-left: 22px;
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    margin-left: 147px;
  }
}

.contacts__table tbody {
  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
  }
}

.contacts__table-row {
  @media (min-width: @tablet-width) {
    width: 325px;

    &--2 {
      margin-left: 9px;
    }
  }

  @media (min-width: @desktop-width) {
    &--2 {
      margin-top: 30px;
      margin-left: 0;
    }
  }
}

.contacts__table-class,
.contacts__table-value {
  font-size: 15px;
  line-height: 30px;
  vertical-align: top;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    width: 225px;

    font-size: 17px;
    line-height: 30px;
  }
}

.contacts__table-class {
  width: 51px;

  &--adress {
    padding-top: 30px;
  }

  @media (min-width: @tablet-width) {
    width: 78px;

    &--adress {
      padding-top: 0;
    }
  }
}

.contacts__table-value {
  padding-left: 25px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
  }

  &--adress {
    padding-top: 30px;
    padding-right: 40px;

    @media (min-width: @tablet-width) {
      margin: 0;
      padding: 0;
    }
  }
}

.contacts__table-email {
  position: relative;

  text-decoration: none;
  color: inherit;

  transition-duration: 0.2s;

  &:hover {
    color: @teal;
  }

  &:active {
    .opacity-active();
  }

  &::after {
    position: absolute;
    bottom: -6px;
    left: 0;

    content: "";

    width: 100%;
    height: 1px;

    background-color: @teal;
  }

  @media (min-width: @tablet-width) {
    &::after {
      bottom: -4px;
    }
  }
}

.contacts__map-wrapper {
  position: relative;

  .mobile-container();

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    margin-top: 28px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    width: 50%;
  }
}

.contacts__map-image {
  @media (min-width: @desktop-width) {
    position: relative;
    top: 56px;
    left: -1px;
  }
}

.contacts__map-pin {
  position: absolute;
  top: 145px;
  left: 139px;
  z-index: 10;

  @media (min-width: @tablet-width) {
    top: 138px;
    left: 364px;
  }

  @media (min-width: @desktop-width) {
    top: 202px;
    left: 238px;
  }
}

.contacts__button {
  .typical-button();

  margin-top: 33px;
  margin-left: 30px;
  padding: 56px;
  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;

  letter-spacing: 1px;

  @media (min-width: @tablet-width) {
    margin-top: 49px;
    margin-left: 269px;
    padding-left: 37px;
    padding-right: 33px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    top: -2px;
    right: 350px;

    margin: 0;
  }
}
