.contacts {
  margin-bottom: 39px;
}

.contacts__wrapper {
  .mobile-container();

  padding: 28px;
  padding-top: 59px;
}

.contacts__header {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 30px;
  color: @black;
}

.contacts__table {
  margin-top: 24px;
  margin-bottom: 8px;

  border-collapse: collapse;
}

.contacts__table-class,
.contacts__table-value {
  font-size: 15px;
  line-height: 30px;
  vertical-align: top;
}

.contacts__table-class {
  width: 51px;
}

.contacts__table-value {
  padding-left: 25px;
}

.contacts__table-value--adress {
  padding-right: 40px;
}

.contacts__map-wrapper {
  .mobile-container();
}

.contacts__button {
  .typical-button();

  margin-top: 33px;
  margin-left: 30px;
  padding: 56px;
  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;

  letter-spacing: 1px;
}

@media (min-width:@tablet-width) {
  .contacts__wrapper {
    width: @tablet-width;
  }

  .contacts__header {
    .tablet-header();

    margin-top: 85px;
    margin-left: 18px;
  }

  .contacts__table {
    margin: 0;
    margin-top: 49px;
    margin-left: 21px;
    width: @tablet-width;
  }

    .contacts__table tbody {
      display: flex;
    }

  .contacts__table-class,
  .contacts__table-value {
    margin: 0;
    padding: 0;
    width: 225px;

    font-size: 17px;
    line-height: 30px;
  }

  .contacts__table-class {
    width: 78px;
  }

  .contacts__table-value--adress {
    margin: 0;
    padding: 0;
  }

  .contacts__table-row-1,
  .contacts__table-row-2 {
    width: 325px;
  }

  .contacts__table-row-2 {
    margin-left: 9px;
  }

  .contacts__map-wrapper {
    width: @tablet-width;
    margin-top: 28px;
  }

  .contacts__map-image {
    width: 768px;
    height: 457px;
  }


  .contacts__button {
    margin-top: 49px;
    margin-left: 269px;
    padding-left: 37px;
    padding-right: 33px;
  }
}
