.features-type-list {
  .basic-list-reseter();

  padding-top: 122px;

  @media (min-width: @tablet-width) {
    padding-top: 116px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
  }

  @media (min-width: @desktop-width) {
    padding-top: 102px;
    margin-left: 49px;
    margin-right: 51px;
  }
}

.features-type-list__item {
  position: relative;

  padding: 0;

  letter-spacing: 1px;

  background-color: @teal-light;

  @media (min-width: @tablet-width) {

    margin-top: 5px;
    height: 117px;
    flex-grow: 1;
    width: 50%;

    &:hover {
      margin-top: 0;
      height: 122px;

      transition: 0.3s;
    }
  }
}

.features-type-list__item:first-of-type {
  @media (min-width: @tablet-width) {
    margin-left: 50px;
  }
}

.features-type-list__item:last-of-type {
  background-color: @teal-dark;

  @media (min-width: @tablet-width) {
    margin-right: 50px;
  }
}

.features-type-list__link {
  .link-reseter();

  position: relative;
  z-index: 2;

  padding-right: 182px;
  padding-top: 26px;
  padding-left: 29px;
  padding-bottom: 29px;
  display: block;

  font-size: 19px;
  color: #ffffff;

  transition-duration: 0.15s;

  &:active {
    .opacity-active();
  }

  @media (min-width: @tablet-width) {
    padding-top: 27px;
    padding-left: 36px;
    padding-bottom: 30px;
    display: block;

    background-color: transparent;

    line-height: 30px;

    &:hover {
      padding-bottom: 35px;
    }

    &:active {
      padding-bottom: 35px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-right: 70%;
  }
}

.features-type-list__interior {
  position: absolute;
  top: 23px;
  right: 36px;

  opacity: 0.5;

  transition-duration: 0.15s;

  @media (min-width: @tablet-width) {
    top: 30px;
  }
}

.features-type-list__link:hover ~ .features-type-list__interior {
  opacity: 0.7;
}

.features-type-list__link:active ~ .features-type-list__interior {
  opacity: 0.3;
}

.features-type-list__interior-svg,
.features-type-list__toy-svg {
  opacity: 0.5;
}

.features-type-list__toy {
  position: absolute;
  top: 21px;
  right: 27px;

  opacity: 0.5;

  transition-duration: 0.15s;

  @media (min-width: @tablet-width) {
    top: 32px;
    right: 34px;
  }
}

.features-type-list__link:hover ~ .features-type-list__toy {
  opacity: 0.7;
}

.features-type-list__link:active ~ .features-type-list__toy {
  opacity: 0.3;
}
