.features__wrapper {
  .mobile-container();

  padding-top: 66px;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: -128.5px -18px;
  background-repeat: no-repeat;
}

.features__header {
  margin: 0;
  padding-top: 71px;

  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: @black;
}

.features__header-top,
.features__header-bottom {
  padding: 0;
  margin: 0;
  margin-left: -2px;
}

.features__header-top {
  margin-top: -66px;
  margin-left: 9px;
  padding-right: 10px;
}

@media (min-width: @tablet-width) {
  .features__wrapper {
    width: @tablet-width;
    padding-top: 92px;

    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: 0 -57px;
  }

  .features__header {
    margin-bottom: 252px;

    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width:@desktop-width) {
  .features__wrapper {
    width: @desktop-width;

    background-position: center;

    .features__header {
      padding-top: 127px;

      font-size: 53px;
      line-height: 57px;
    }
  }

}
