.features__wrapper {
  .mobile-container();

  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: -127.5px -19px;
  background-repeat: no-repeat;
}

.features__header {
  margin: 0;
  padding-top: 71px;

  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: @black;
}
