.footer-logo {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.footer-logo__link {
  position: relative;
}

.footer-logo__svg {
  position: absolute;
  top: 50px;
  left: 60px;

  &:hover {
    fill: @teal;
  }

  &:active {
    .opacity-active();

    fill: @teal;
  }

  @media (min-width: @desktop-width) {
    left: 110px;
  }
}
