.header-list {
  .basic-list-reseter();
}

.header-list__item {
  .mobile-container();

  padding-left: 75px;
  padding-top: 26px;
  padding-bottom: 26px;
  box-sizing: border-box;

  vertical-align: middle;

  background-color: #ffffff;
  border-bottom: 1px solid #ececec;

  &:first-of-type {
    border-top: 1px solid #ececec;
  }
}

.header-list__item a {
  font-family: "Myriad Pro";

  font-size: 17px;
  line-height: 24px;

  .link-reseter();
}
