.header-list {
  .basic-list-reseter();
}

.header-list__item {
  .mobile-container();

  padding-left: 75px;
  padding-top: 26px;
  padding-bottom: 26px;
  box-sizing: border-box;

  vertical-align: middle;

  background-color: @white;
  border-bottom: 1px solid @gray;

  &:first-of-type {
    border-top: 1px solid @gray;
  }
}

.header-list__link {
  font-family: "Myriad Pro";

  font-size: 17px;
  line-height: 24px;

  .link-reseter();
}

@media (min-width: @tablet-width) {
  .header-list {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    background-color: @lighter-gray;
  }

  .header-list--inner {
    margin-top: 69px;

    background-color: @light-gray;
  }

  .header-list__item {
    width: 185px;
    padding: 16px;
    padding-left: 32px;
    padding-right: 0;
    margin: 0;

    background-color: @lighter-gray;
    border: none;

      &:first-of-type {
        padding-left: 49px;

        border: none;
      }

      &:nth-of-type(3),
      &:nth-of-type(4) {
        margin-top: -74px;

        background-image: linear-gradient(@white 74px; @lighter-gray 74px);
      }

      &:nth-of-type(3) {
        width: 120px;

        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
      }

      &:nth-of-type(4) {
        margin-top: -74px;
        margin-left: -14px;
        padding-left: 60px;
        width: 245px;
      }
  }

  .header-list__item--inner {
    padding-top: 17px;

    background-color: @light-gray;

    &:nth-of-type(3),
    &:nth-of-type(4) {
        margin-top: -74px;

        background-image: linear-gradient(@white 74px; @light-gray 74px);
      }
  }

  .header-list__link {
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 700;
  }

    .header-list__link--basket {
      font-size: 16px;
      letter-spacing: 0.6px
    }
}

@media (min-width:@desktop-width) {
  .header-list {
    margin-top: 31px;
    margin-left: 98px;
    width: @desktop-width;

    background-color: @white;
  }

  .header-list__item {
    margin: 0;
    margin-left: 25px;
    padding: 0;
    width: 195px;

    background-color: @white;

    &:nth-of-type(1),
    &:nth-of-type(3),
    &:nth-of-type(4) {
      margin: 0;
      padding: 0;
    }

    &:nth-of-type(3) {
      margin-left: 270px;
    }

    &:nth-of-type(4) {
      padding-left: 62px;
      width: 280px;
    }
  }

  .header-list__link {
    font-size: 17px;
    line-height: 24px;
  }
}
