.header-list {
  .ul-reseter();
}

.header-list__item {
  width: 320px;
  padding-left: 75px;
  padding-top: 33px;
  box-sizing: border-box;

  vertical-align: middle;

}

.header-list__item:last-of-type {
  padding-bottom: 30px;
}

.header-list__item a {
  font-family: "Myriad Pro";

  font-size: 17px;
  line-height: 24px;

  .link-reseter();
}
