.mail-field {
  margin-top: 33px;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 0;
  padding-left: 0;

  border: none;
  border-bottom: 2px solid @black;
}

.mail-field__heading {
  margin-left: -3px;

  font-size: 17px;
  line-height: 16px;
  color: @light-teal;
  text-transform: uppercase;
  font-weight: 700;
}

.mail-field__input {
  margin-top: 15px;
  margin-left: -3px;
  padding-bottom: 16px;

  font-size: 17px;
  line-height: 18px;
  font-weight: 100;

  border: none;
}
