.mail-field {
  margin-top: 33px;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 0;
  padding-left: 0;

  border: none;
  border-bottom: 2px solid @black;
}

.mail-field__heading {
  margin-left: -3px;

  font-size: 17px;
  line-height: 16px;
  color: @light-teal;
  text-transform: uppercase;
  font-weight: 700;
}

.mail-field__input {
  margin-top: 15px;
  margin-left: -3px;
  padding-bottom: 16px;

  font-size: 17px;
  line-height: 18px;
  font-weight: 100;

  border: none;
}

@media (min-width: @tablet-width) {
  .mail-field {
    position: relative;
    top: -15px;
    left: -50px;

    padding: 0;
    margin: 0;
    width: 768px;
    height: 119px;

    background-color: @light-gray;
    border: none;
  }

  .mail-field__heading {
    position: relative;
    top: 34px;
    left: 52px;
  }

  .mail-field__input {
    position: relative;
    bottom: -4px;
    right: -217px;

    padding: 0;
    margin: 0;
    padding-left: 16px;
    padding-bottom: 15px;
    padding-right: 60px;
    padding-top: 10px;
    width: 425px;

    font-size: 19px;
    line-height: 18px;

    background-color: inherit;
    border-bottom: 2px solid @black;
  }
}

@media (min-width: @desktop-width) {
  .mail-field {
    width: 1150px;
  }

  .mail-field__heading {
    top: 36px;
    left: 112px;
  }

  .mail-field__input {
    right: -225px;

    width: 624px;
  }
}
