.main-footer {
  @media (min-width: @desktop-width) {
    background-color: @gray-light;
  }
}

.main-footer__wrapper {
  .mobile-container();

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    height: 145px;

    background-color: @gray-light;
  }
}

.main-footer__item {
  @media (min-width: @tablet-width) {
    width: 33%;
  }
}

.main-footer__list {
  .basic-list-reseter();

  margin-top: 24px;
  width: 100%;

  background-color: @gray-light;

  &--form {
    margin-top: 25px;
  }

  @media (min-width: @tablet-width) {
    margin-top: 57px;
    padding-bottom: 50px;
    display: flex;

    &--form {
      margin-top: 32px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
    &--form {
      margin-top: 31px;
    }
  }
}
