.main-nav {
  position: relative;
  z-index: 9;

  @media (min-width: @tablet-width) {
    margin-left: 0;
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    position: relative;

    width: @desktop-width;

    &::before {
      position: absolute;
      z-index: 10;
      bottom: 0;
      left: 234px;

      content: "";
      width: 1px;
      height: 90px;

      background-color: @gray;
    }

    &::after {
      position: absolute;
      z-index: 10;
      bottom: 0;
      right: 399px;

      content: "";
      width: 1px;
      height: 90px;

      background-color: @gray;
    }
  }
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  left: -42px;
  z-index: 2;

  width: 62px;
  height: 60px;

  border: none;
  background-color: inherit;
  border-bottom: 1px solid @gray;

  &--closed::after {
    position: absolute;
    top: 12px;
    left: 11px;

    content: "";
    width: 20px;
    height: 2px;

    background-color: @black;
    box-shadow: 0 6px @black,
      0 12px @black;
  }

  &--opened::before {
    position: absolute;
    top: 19px;
    left: 9px;

    content: "";
    width: 25px;
    height: 2px;

    background-color: @black;

    transform: rotate(-45deg);
  }

  &--opened::after {
    position: absolute;
    top: 19px;
    left: 9px;

    content: "";
    width: 25px;
    height: 2px;

    background-color: @black;

    transform: rotate(45deg);
  }

  @media (min-width: @tablet-width) {
    display: none;

    &--closed::after,
    &--opened::after {
      display: none;
    }
  }
}

.main-nav__wrapper {
  display: none;

  @media (min-width: @tablet-width) {
    position: relative;
    display: block;
  }
}

.main-nav__toggle--opened ~ .main-nav__wrapper,
.main-nav--nojs .main-nav__wrapper {
  position: absolute;
  right: -20px;
  top: 59px;

  display: block;

  @media (min-width: @tablet-width) {
    position: static;
  }
}
