.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  left: -42px;
  z-index: 2;

  padding-bottom: 32px;
}

.main-nav__wrapper {
  display: none;
}

.main-nav__toggle:hover ~ .main-nav__wrapper,
.main-nav__toggle:active ~ .main-nav__wrapper,
.main-nav__wrapper:hover {
  position: absolute;
  right: -20px;
  top: 59px;

  display: block;
}

@media (min-width: @tablet-width) {
  .main-nav {
    margin-left: 0;
    width: @tablet-width;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__wrapper {
    display: block;
  }

  .main-nav__toggle:hover ~ .main-nav__wrapper,
  .main-nav__toggle:active ~ .main-nav__wrapper,
  .main-nav__wrapper:hover {
    position: static;
  }
}

// @media (min-width:@desktop-width) {
//   .main-nav {
//     width: @desktop-width;
//   }
//
// }
