.order-page__header {
  .inner-page-header();
}

.order-page__wrapper {
  .mobile-container();

  padding: 30px;
  padding-top: 22px;
}

.order-page__description {
  margin: 0;

  font-size: 13px;
}

.order-page__button {
  .typical-button();

  margin-top: 31px;
  padding: 45px;
  padding-top: 15px;
  padding-bottom: 13px;
}

@media (min-width:@tablet-width) {
  .order-page__header {
    .tablet-header();

    width: @tablet-width;
    padding-top: 36px;
    padding-bottom: 90px;
    padding-left: 2px;
  }

  .order-page__wrapper {
    width: @tablet-width;
    padding-top: 64px;
    padding-left: 50px;
  }

  .order-page__description {
    padding-right: 20px;

    font-size: 17px;
    line-height: 30px;
  }

  .order-page__form {
    position: relative;

    margin-top: 40px;
  }

  .order-page__button{
    position: absolute;
    bottom: -12px;
    left: 0;

    margin: 0;
    padding-left: 28px;
    padding-right: 32px;
  }
}
