.order-page__header {
  .inner-page-header();
}

.order-page__wrapper {
  .mobile-container();

  padding: 30px;
  padding-top: 22px;
}

.order-page__description {
  margin: 0;

  font-size: 13px;
}

.order-page__button {
  .typical-button();

  margin-top: 31px;
  padding: 45px;
  padding-top: 15px;
  padding-bottom: 13px;
}
