.page-header {
  .mobile-container();
}

.page-header__wrapper {
  padding: 20px;
  padding-bottom: 16px;
  display: flex;

  border-bottom: 1px solid @gray;
}

.page-header__logo {
  margin: auto;
}

.page-header__logo-image {
  margin-top: 2px;
  margin-left: -3px;
}
