.page-header {
  .mobile-container();

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.page-header__wrapper {
  position: relative;

  padding: 20px;
  padding-bottom: 16px;
  display: flex;

  border-bottom: 1px solid @gray;

  &--inner {
    border-bottom: 1px solid @gray-lighter;
  }

  @media (min-width: @tablet-width) {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    justify-content: flex-start;

    border-bottom: none;

    &::before {
      position: absolute;
      bottom: 57px;
      right: 314px;
      z-index: 10;

      content: "";
      width: 1px;
      height: 90px;

      background-color: #ececec;
    }

    &::after {
      position: absolute;
      z-index: 10;
      bottom: 57px;
      left: 0;

      content: "";
      width: 100%;
      height: 1px;

      background-color: @gray;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
    height: 89px;

    &::after {
      bottom: 0;
      left: 50px;

      width: 1150px;

      box-shadow: none;
    }

    &::before {
      bottom: 0;
      right: 366px;
    }
  }
}

.page-header__logo {
  margin: auto;

  transition-duration: 0.3s;

  @media (min-width: @tablet-width) {
    position: absolute;
    z-index: 10;
  }

  @media (min-width: @desktop-width) {
    top: 20px;
    left: 520px;
  }
}

.page-header__logo[href] {
  &:hover {
    .opacity-hover();
  }

  &:active {
    .opacity-active();
  }
}

.page-header__logo-image {
  margin-top: 2px;
  margin-left: -3px;

  @media (min-width: @tablet-width) {
    margin: 0;
    position: relative;
    top: 2px;
    left: 49px;
  }

  @media (min-width: @desktop-width) {
    top: -12px;
    left: 30px;
  }
}

.page-header__delivery-note {
  display: none;

  @media (min-width: @tablet-width) {
    position: absolute;
    bottom: 15px;
    right: 49px;
    z-index: 10;

    display: block;

    letter-spacing: -0.5px;
  }

  @media (min-width: @desktop-width) {
    bottom: -41px;
    right: 101px;
  }
}

.page-header__extra-list {
  display: none;

  @media (min-width: @desktop-width) {
    .basic-list-reseter();

    position: absolute;
    bottom: -41px;
    left: 100px;
    z-index: 15;

    display: flex;
    flex-wrap: wrap;
    width: 400px;
  }
}

.page-header__extra-item:last-child {
  @media (min-width: @desktop-width) {
    margin-left: 60px;
  }
}

.page-header__extra-link {
  @media (min-width: @desktop-width) {
    .link-reseter();

    font-size: 15px;
    line-height: 24px;
    font-weight: 700;

    transition-duration: 0.3s;
  }

  &:hover {
    .opacity-hover();
  }

  &:active {
    .opacity-active();
  }
}
