.reviews {
  padding-bottom: 50px;

  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: 300px;
  background-position: 0 679px;

  @media (min-width: @tablet-width) {
    padding-bottom: 90px;

    background-size: 750px;
    background-position: 0 595px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;

    background-size: 1050px;
    background-position: 11px 602px;
  }
}

.reviews__wrapper {
  .mobile-container();

  padding: 28px;
  padding-top: 55px;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding: 47px;
    padding-left: 45px;
    padding-right: 0;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 69px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding-bottom: 200px;
    padding-left: 49px;

    background-position: 50px 76px;
  }
}

.reviews__header {
  .lesser-header();

  @media (min-width: @tablet-width) {
    .tablet-header();

    margin-top: 100px;
  }

  @media (min-width: @desktop-width) {
    .desktop-header();

    margin-left: 171px;
  }
}

.reviews__item {
  margin: 0;
  margin-top: 24px;
  margin-left: 2px;

  font-size: 15px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-top: 48px;
    margin-left: 4px;
    padding-right: 17px;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 175px;
    margin-right: 130px;
  }
}

.reviews__author-wrapper {
  margin-top: 27px;

  @media (min-width: @tablet-width) {
    position: relative;

    margin: 0;
    margin-top: 51px;
    margin-left: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    margin-top: 32px;
    margin-left: 173px;
  }
}

.reviews__author {
  margin-top: 7px;
  margin-left: 2px;

  font-size: 17px;
  color: @black;
  letter-spacing: 0.1px;
}

.reviews__author-mail {
  display: block;
  margin-top: 3px;
  margin-left: 1px;

  font-size: 17px;
  line-height: 30px;
}

.reviews__toggle-box {
  margin-top: 29px;
  margin-left: 2px;
  display: flex;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-right: 8px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    top: 1px;
    left: -2px;

    margin-right: 10px;
  }
}

.reviews__author-box {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.reviews__prev,
.reviews__next {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 64px;
  padding-right: 64px;

  background-color: @white;
  border: 1px solid @gray;

  cursor: pointer;

  @media (min-width: @desktop-width) {
    border: none;
  }
}

.reviews__prev {
  position: relative;

  padding-right: 65px;

  border-right: none;

  outline: none;

  cursor: pointer;
}

.reviews__prev-arrow {
  position: absolute;
  top: 12px;
  left: 38px;

  transition-duration: 0.3s;

  cursor: pointer;

  @media (min-width: @tablet-width) {
    top: 21px;
    left: auto;
    right: 18px;
  }

  @media (min-width: @desktop-width) {
    right: 16px;
  }
}

.reviews__prev:hover .reviews__prev-arrow {
  .opacity-hover();
}

.reviews__prev:active .reviews__prev-arrow {
  .opacity-active();
}

.reviews__next {
  position: relative;

  outline: none;
}

.reviews__next-arrow {
  position: absolute;
  top: 12px;
  left: 37px;

  transition-duration: 0.3s;

  cursor: pointer;

  @media (min-width: @tablet-width) {
    top: 21px;
    left: 18px;
  }

  @media (min-width: @desktop-width) {
    left: 20px;
  }
}

.reviews__next:hover .reviews__next-arrow {
  .opacity-hover();
}

.reviews__next:active .reviews__next-arrow {
  .opacity-active();
}

.reviews__button {
  .typical-button();

  margin-top: 22px;
  margin-left: 2px;
  padding-bottom: 15px;
  padding-left: 78px;
  padding-right: 82px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: -290px;
    right: 50px;

    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 37px;
    padding-right: 38px;
  }

  @media (min-width: @desktop-width) {
    top: -241px;
    right: 51px;
  }
}
