.reviews__wrapper {
  .mobile-container();

  padding: 28px;
  padding-top: 52px;
}

.reviews__header {
  .lesser-header();
}

.reviews__item {
  margin: 0;
  margin-top: 24px;
  margin-left: 2px;

  font-size: 15px;
  line-height: 30px;
}

.reviews__author-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.reviews__author {
  margin-top: 7px;
  margin-left: 2px;

  font-size: 17px;
  color: @black;
  letter-spacing: 0.1px;
}

.reviews__author-mail {
  margin-top: 4px;
  margin-left: 2px;

  font-size: 17px;
  line-height: 30px;
}

.reviews__toggle-box {
  margin-top: 28px;
  margin-left: 2px;
  display: flex;
}

.reviews__prev,
.reviews__next {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 64px;
  padding-right: 64px;

  font-size: 0;

  background-color: @white;
  border: 1px solid @gray;
}

.reviews__prev {
  padding-right: 65px;

  border-right: none;
}

.reviews__button {
  .typical-button();

  margin-top: 22px;
}

@media (min-width: @tablet-width) {
  .reviews__wrapper {
    width: @tablet-width;
    padding: 47px;
    padding-left: 45px;
    padding-right: 0;
  }

  .reviews__header {
    .tablet-header();

    margin-top: 100px;
  }

  .reviews__item {
    margin: 0;
    margin-top: 48px;
    margin-left: 4px;
    padding-right: 47px;

    font-size: 17px;
    line-height: 30px;
  }

  .reviews__author-wrapper {
    position: relative;

    margin: 0;
    margin-top: 51px;
    margin-left: 2px;
    flex-direction: row;
    justify-content: space-between;
  }

  .reviews__toggle-box {
    margin: 0;
    margin-right: 8px;
    padding: 0;
  }

  .reviews__author-box {
    display: flex;
    flex-direction: column;
  }

  .reviews__button {
    position: absolute;
    top: -290px;
    right: 50px;

    padding-top: 14px;
    padding-left: 37px;
    padding-right: 38px;
  }
}

@media (min-width: @desktop-width) {
  .reviews__wrapper {
    width: @desktop-width;
    padding-bottom: 150px;
    padding-left: 99px;
  }

  .reviews__header {
    .desktop-header();

    margin-left: 171px;
  }

  .reviews__item {
    margin-left: 175px;
    margin-right: 130px;
  }

  .reviews__author-wrapper {
    margin-top: 32px;
    margin-left: 173px;
  }

  .reviews__toggle-box {
    margin-right: 60px;
  }

  .reviews__button {
    top: -241px;
    right: 101px;
  }
}
