.shop-catalog__header {
  .inner-page-header();
}

.shop-catalog__wrapper {
  .mobile-container();
}

.shop-catalog__list {
  .ul-reseter();

  padding: 30px;
}

.shop-catalog__item {
  margin-bottom: 28px;
}

.shop-catalog__item-link {
  text-decoration: none;
}

.shop-catalog__item-heading,
.shop-catalog__item-description,
.shop-catalog__item-price {
  .link-reseter();
}

.shop-catalog__item-wrapper {
  padding: 30px;
  padding-top: 8px;
  padding-left: 28px;
}

.shop-catalog__item-heading {
  margin-bottom: 0;

  font-size: 17px;
  line-height: 24px;
  color: #000000;
  font-weight: 800;
}

.shop-catalog__item-description {
  margin-top: 4px;
  margin-bottom: 41px;

  font-size: 13px;
  line-height: 30px;
}

.shop-catalog__item-price {
  margin: 0;

  font-size: 15px;
}
