.shop-catalog__header {
  .inner-page-header();

  @media (min-width: @tablet-width) {
    .tablet-header();

    width: @tablet-width;
    padding-top: 38px;
    padding-bottom: 80px;
    padding-left: 2px;
  }

  @media (min-width: @desktop-width) {
    .desktop-header();

    padding-top: 93px;
    padding-left: 5px;
    padding-bottom: 110px;
    width: 1150px;
  }
}

.shop-catalog__wrapper {
  .mobile-container();

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: 1150px;
  }
}

.shop-catalog__list {
  .basic-list-reseter();

  padding: 30px;
  padding-top: 29px;
  padding-bottom: 0;

  @media (min-width: @tablet-width) {
    padding-top: 79px;
    padding-bottom: 0;
    padding-left: 51px;
    padding-right: 50px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    padding-top: 122px;
    padding-left: 49px;
    padding-right: 30px;
    padding-bottom: 0;
    width: 1050px;
    flex-direction: row;
  }
}

.shop-catalog__list-item {
  @media (min-width: @tablet-width) {
    width: 665px;
  }

  @media (min-width: @desktop-width) {
    width: 314px;
  }
}

.shop-catalog__list-item:not(:nth-of-type(1)) {
  @media (min-width: @tablet-width) {
    margin-top: 26px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-left: 53px;
  }
}

.shop-catalog__item {
  margin-bottom: 29px;

  border: 1px solid @gray;

  @media (min-width: @tablet-width) {
    margin-bottom: 28px;
    width: 100%;
    height: 332px;
    display: flex;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    height: 657px;
  }
}

.shop-catalog__item-image {
  @media (min-width: @tablet-width) {
    position: relative;
    top: -1px;
    left: -1px;
  }
}

.shop-catalog__item-link {
  text-decoration: none;
}

.shop-catalog__item-heading,
.shop-catalog__item-description,
.shop-catalog__item-price {
  .link-reseter();
}

.shop-catalog__item-wrapper {
  position: relative;

  padding-top: 8px;
  padding-bottom: 27px;
  padding-left: 28px;
  padding-right: 30px;

  transition-duration: 0.5s;

  &--basket-big {
    padding-bottom: 28px;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    padding-top: 26px;
    padding-left: 25px;
    width: 100%;
    box-sizing: border-box;

    &:hover {
      box-shadow: 3px 6px 10px 0 @black-opa;
    }

    &:active {
      box-shadow: 0 3px 5px 0 @black-opa;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 27px;

    &--basket {
      padding-bottom: 27px;
    }

    &--rabbit {
      padding-left: 28px;
    }
  }
}

.shop-catalog__item-heading {
  margin-bottom: 0;

  font-size: 17px;
  line-height: 24px;
  color: @black;
  font-weight: 800;

  transition-duration: 0.3s;

  &:hover {
    .opacity-hover();
  }

  &:active {
    .opacity-active();
  }

  @media (min-width: @tablet-width) {
    margin: 0;

    font-size: 20px;
    line-height: 24px;

    &--basket-big {
      padding-right: 25%;
    }
  }

  @media (min-width: @desktop-width) {
    &--basket-big {
      padding-right: 30%;
    }
  }
}

.shop-catalog__item-description {
  position: relative;

  margin-top: 4px;
  margin-bottom: 41px;

  font-size: 13px;
  line-height: 30px;

  &::after {
    position: absolute;
    z-index: 10;
    bottom: -20px;
    left: 0;

    content: "";
    width: 202px;
    height: 1px;

    background-color: @gray;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-top: 5px;

    font-size: 15px;
    line-height: 30px;

    &::after {
      left: 7px;
      bottom: -175px;

      width: 268px;
    }

    &--basket {
      margin-top: 8px;
    }

    &--basket::after {
      bottom: -172px;
    }

    &--basket-big::after {
      bottom: -151px;
    }
  }

  @media (min-width: @desktop-width) {
    position: relative;

    &::after {
      bottom: -38px;
      left: 1px;

      width: 256px;
    }

    &--basket {
      margin-top: 5px;
    }

    &--basket-big::after {
      bottom: -14px;
    }
  }
}

.shop-catalog__item-price {
  margin: 0;

  font-size: 15px;

  @media (min-width: @tablet-width) {
    margin: 0;

    padding-top: 198px;
    padding-left: 5px;
    display: block;

    font-size: 17px;
    line-height: 24px;

    &--basket {
      padding-top: 194px;
      padding-left: 4px;
    }

    &--basket-big {
      padding-top: 174px;
      padding-left: 4px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 61px;
    padding-left: 0;

    &--basket {
      padding-top: 59px;
    }

    &--basket-big {
      padding-top: 37px;
    }
  }
}

.shop-catalog__basket-svg {
  position: absolute;
  bottom: 31px;
  right: 27px;

  opacity: 0.2;

  transition-duration: 0.3s;

  &:hover {
    fill: @teal-light;

    opacity: 1;
  }

  &:active {
    fill: @teal-light;

    .opacity-active();
  }

  @media (min-width: @tablet-width) {
    bottom: 33px;
    right: 32px;
  }

  @media (min-width: @desktop-width) {
    bottom: 31px;
    right: 31px;
  }
}

.shop-catalog__item-heading:hover ~ .shop-catalog__basket-svg {
  fill: @teal-light;

  opacity: 1;
}

.shop-catalog__item-heading:active ~ .shop-catalog__basket-svg {
  fill: @teal-light;

  .opacity-active();
}
