.trending__wrapper {
  .mobile-container();

  padding: 30px;
  padding-top: 27px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    position: relative;

    padding: 0;
    padding-top: 47px;
    padding-left: 46px;
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    padding-top: 10px;
    padding-left: 76px;
    width: @desktop-width;
  }
}

.trending__header-wrapper {
  @media (min-width: @tablet-width) {
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 140px;
    left: 92px;

    margin: 0;
    padding: 0;
  }
}

.trending__header {
  .lesser-header();

  margin-bottom: 4px;

  @media (min-width: @tablet-width) {
    .tablet-header();
  }

  @media (min-width: @desktop-width) {
    .desktop-header();

    margin-top: -52px;
    order: 2;
  }
}

.trending__sub-header {
  font-size: 17px;
  line-height: 20px;
  color: @teal-light;
  text-transform: uppercase;
  letter-spacing: 0.5px;

  @media (min-width: @tablet-width) {
    display: block;
    margin-top: 11px;
    margin-right: 23px;
    width: 80px;

    font-size: 17px;
    line-height: 17px;
    font-weight: 500;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    margin-top: -36px;
    margin-right: 49px;
  }
}

.trending__content-wrapper {
  @media (min-width: @tablet-width) {
    margin-top: 43px;
    display: flex;
    justify-content: flex-start;
  }

  @media (min-width: @desktop-width) {
    margin-top: 16px;
    margin-left: 145px;
  }
}

.trending__description-wrapper {
  min-width: 260px;

  @media (min-width: @tablet-width) {
    margin-bottom: 134px;
    width: 338px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 16px;
  }
}

.trending__picture {
  @media (min-width: @tablet-width) {
    margin-top: 10px;
    width: 333px;
    height: 404px;
  }

  @media (min-width: @desktop-width) {
    width: 525px;
    height: 636px;
  }
}

.trending__description {
  padding-top: 5px;
  margin-bottom: 17px;

  font-size: 15px;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-top: 2px;
    margin-left: 3px;
    margin-right: 35px;
    padding: 0;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 168px;
    margin-left: 4px;
  }
}

.trending__table {
  width: 260px;
  margin-bottom: 28px;

  border-collapse: collapse;

  @media (min-width: @tablet-width) {
    margin-top: 35px;
    margin-bottom: 29px;
    margin-left: 4px;
    width: 290px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 47px;
  }
}

.trending__table-row {
  position: relative;

  border-bottom: 1px solid @gray-light;
}

.trending__table-class,
.trending__table-value {
  padding: 10px;
  padding-left: 0;

  font-size: 15px;
  line-height: 20px;
}

.trending__table-class {
  &--row-2,
  &--row-3 {
    padding-top: 9px;
  }

  @media (min-width: @tablet-width) {
    padding-right: 0;
    width: 77px;
  }
}

.trending__table-value {
  padding-left: 10px;

  &--row-2,
  &--row-3 {
    padding-top: 9px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 10px;
    padding-left: 20px;
  }
}

.trending__price-wrapper {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    position: absolute;
    bottom: 6px;
    left: 48px;
  }

  @media (min-width: @desktop-width) {
    left: 225px;
  }
}

.trending__price {
  font-size: 16px;
  letter-spacing: 1px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0;
  }
}

.trending__button {
  .typical-button();
  display: inline-block;

  margin-top: 26px;
  padding-top: 14px;
  padding-bottom: 10px;

  color: @black;
  letter-spacing: 1px;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    margin-top: 34px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 99px;
    padding-right: 98px;
  }
}
