.trending__wrapper {
  .mobile-container();

  padding: 30px;
  padding-top: 27px;
  box-sizing: border-box;
}

.trending__header {
  .h2-header();

  margin-bottom: 4px;
}

.trending__sub-header {
  font-size: 17px;
  line-height: 20px;
  color: @light-teal;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.trending__description {
  padding-top: 5px;
  margin-bottom: 17px;

  font-size: 15px;
}

.trending__table {
  margin-bottom: 29px;

  border-collapse: collapse;
}

.trending__table-class,
.trending__table-value {
  padding: 10px;
  padding-left: 0;

  font-size: 15px;
  line-height: 20px;
}

.trending__table-value {
  padding-left: 20px;
}

.trending__price-wrapper {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trending__price {
  font-size: 16px;
  letter-spacing: 1px;
}

.trending__button {
  .typical-button();

  margin-top: 27px;
}
