.videos__wrapper {
  .mobile-container();

  padding: 30px;
  padding-top: 0;
  margin-top: -4px;
  margin-bottom: 61px;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    margin-top: 25px;
    padding-left: 50px;
    margin-bottom: 79px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    position: relative;

    width: 1150px;
    margin-top: 55px;
    margin-bottom: 76px;
    padding-right: 50px;
  }
}

.videos__video {
  @media (min-width: @tablet-width) {
    order: 0;
    width: 668px;
    height: 455px;
  }

  @media (min-width: @desktop-width) {
    width: 682px;
  }
}

.videos__header {
  padding-left: 90px;
  margin: 0;
  margin-bottom: 23px;

  font-size: 17px;
  color: @black;

  @media (min-width: @tablet-width) {
    margin-top: 39px;
    margin-bottom: 0;
    padding-left: 106px;
    order: 1;

    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 27px;
    right: 180px;

    padding: 0;
    padding-top: 70px;
    margin: 0;
    width: 160px;
  }
}

.videos__description {
  margin-top: 21px;
  margin-left: 34px;
  margin-right: 35px;

  font-size: 13px;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-top: 32px;
    margin-left: 40px;
    padding-right: 60px;
    order: 2;

    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 146px;
    right: 50px;

    width: 230px;
  }
}

.videos__button {
  .typical-button();

  margin-top: 12px;
  margin-left: 34px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 23px;
  padding-right: 24px;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-top: 35px;
    margin-left: 42px;
    margin-right: 62px;
    order: 3;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    bottom: 89px;
    right: 108px;

    margin: 0;
    padding-left: 41px;
    padding-right: 44px;
  }
}
